@model Tuple<ArgenGrill.Models.LoginViewModel, ArgenGrill.Models.RegisterViewModel>

    @{
        ViewBag.Title = "Confirm your email";
    }
    <h2>@ViewBag.Title.</h2>
    <p class="text-info">
        <br />
        <h4 class="text-info">Please check your email and confirm your email address.</h4>
    </p>

    @using (Html.BeginForm("ResendEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Email)
        <br />
        <p class="text-info">
            <h4 class="text-warning">
                If you did not receive our email please check your spam folder.
            </h4>
        </p>
        <p class="text-info">
            <h4 class="text-warning">
                Click the following: <input type="submit" value="Link" class="btn btn-default" /> to resend confirmation email. Thank you.
            </h4>
        </p>
        <br />
        <p><h5 class="text-danger">@ViewBag.Link</h5></p>

    }