@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <br />
    <p>
        <h4>Please check your email to reset your password. Don't forget to check SPAM folder.</h4>
    </p>
    <br />
    <p class="text-danger">
        <h4>
            @Html.ActionLink("Resend reset password email", "ForgotPassword")
        </h4>
    </p>
</div>