@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<a href="~/Controllers/AccountController.cs">~/Controllers/AccountController.cs</a>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <a href="~/Controllers/AccountController.cs">~/Controllers/AccountController.cs</a>
</hgroup>
<div>
    <br />
    <p>
        <h4>Please check your email to reset your password.</h4>
    </p>
    <br />
    <p class="text-danger">
        <h4>
            <a href="@ViewBag.Link">LINK</a>
        </h4>
    </p>
</div>