@{
    ViewBag.Title = "Home Page";
}

<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Coming soon, we are currently adding new products. Contact us to add yours.
        </h1>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading1 text-center">
                <h4>Premium beef delivered to your door.</h4>
            </div>
            <div class="panel-body text-justify">
                <p>The asado is the most popular social gathering in Argentina and no weekend is truly complete without it. It's a celebration of seared meat and flame, filled with good times and liberally doused with Malbec. Once you taste it, you never forget.</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading2 text-center">
                <h4>Latin American Grills</h4>
            </div>
            <div class="panel-body text-justify">
                <p>Latin American Grills are designed to cook mouth watering meats oven red hot coals in the style of the Argentine Asado. An Argentine Asado might be referred to as the mother of all barbecues, where grilled meat is taken very seriously.</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading3 text-center">
                <h4>Premium Asado Wines</h4>
            </div>
            <div class="panel-body text-justify">
                <p>The premium quality meats need premium quality wines. Perfect pairing for your Bife de Chorizo, Rib Eye or Lomo. No way to fail here. Malbec goes fantastic with Premium asado, is what the gauchos like.</p>
                <a href="#" class="btn btn-default">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
<!-- Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Products coming soon:</h2>
    </div>
    <div class="col-md-4 col-sm-6" height="5">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/Chorizo.jpg" alt="" height="5">
        </a>
        <hr>
        <h4 class="text-center">Argentine Chorizo</h4>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/asado.jpg" alt="">
        </a>
        <hr>
        <h4 class="text-center">Argentine Asado</h4>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/salchicha.jpg" alt="">
        </a>
        <hr>
        <h4 class="text-center">Argentine Sausage</h4>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/entrana.jpg" alt="">
        </a>
        <hr>
        <h4 class="text-center">Argentine Skirt Steak</h4>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/grill.jpg" alt="">
        </a>
        <hr>
        <h4 class="text-center">Argentine Grills</h4>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover" src="~/Images/Products/Malbec.jpg" alt="">
        </a>
        <hr>
        <h4 class="text-center">Argentine Malbec</h4>
    </div>
</div>
<!-- /.row -->

<hr>
<!-- Call to Action Section -->

<div class="well">
    @Html.Partial("_Newsletter")
</div>

<hr>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>